*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation bar section */
a {
    text-decoration: none;
    color: unset;
}
.nav{
    display: flex;
    justify-content: space-between;
}
